#root {
    width: 100%;
}

#content {
    height: 100%;
    display: none;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 50px;
    height: 100%;
    padding-bottom: 30px;
}

.card-province {
    margin: 10px 100px 10px 100px;
    width: 400px;
    border-radius: 5px;
    padding: 20px 0 20px 0;
    height: 170px;
}

.newContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 50px;
    padding-bottom: 30px;
}

#search {
    text-align: right;
    padding: 10px
}

#search-form>* {
    font-size: medium;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    #search {
        margin: 5px 0px 5px 0px;
    }
    #loader {
        margin: 120px 0 0 0;
    }
    .card {
        margin: 10px;
        height: auto;
        padding: 0px 20px 0px 20px;
    }
    .container {
        margin: 0px 20px 0px 20px;
    }
    .newContainer {
        margin: 0px 20px 0px 20px;
    }
}